In [1]:
# Imports
from pathlib import Path
import pandas as pd

In [2]:
def load_raw_data(txt_filename: str) -> pd.DataFrame:
    """ Loads the .txt data from the Data folder as pandas DataFrame 
        :argument: txt_filename - name of the text file with .txt extension
        :return: dataframe - pandas DataFrame
    """
    # Define the data folder path
    data_path = Path().absolute().parent.joinpath('data', 'raw')
    # Open with pandas without header and space as separator
    dataframe = pd.read_csv(data_path.joinpath(txt_filename), sep=' ', header=None).dropna(axis=1, how='all')
    # Define number of sensor columns
    sensors_number = len(dataframe.columns) - 5
    # Rename the columns to corrensponding value
    column_names = ['unit', 'cycle', 'altitude', 'mach', 'tra'] + [f'sensor_{i}' for i in range(1, sensors_number + 1)]
    dataframe.columns = column_names
    return dataframe

In [3]:
data_1 = load_raw_data('train_FD004.txt')

In [4]:
data_1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
unit,61249.0,124.325181,71.995350,1.0000,60.0000,126.0000,185.0000,249.0000
cycle,61249.0,134.311417,89.783389,1.0000,62.0000,123.0000,191.0000,543.0000
altitude,61249.0,23.999823,14.780722,0.0000,10.0046,25.0014,41.9981,42.0080
mach,61249.0,0.571347,0.310703,0.0000,0.2507,0.7000,0.8400,0.8420
tra,61249.0,94.031576,14.251954,60.0000,100.0000,100.0000,100.0000,100.0000
sensor_1,61249.0,472.882435,26.436832,445.0000,445.0000,462.5400,491.1900,518.6700
sensor_2,61249.0,579.420056,37.342647,535.4800,549.3300,555.7400,607.0700,644.4200
sensor_3,61249.0,1417.896600,106.167598,1242.6700,1350.5500,1367.6800,1497.4200,1613.0000
sensor_4,61249.0,1201.915359,119.327591,1024.4200,1119.4900,1136.9200,1302.6200,1440.7700
sensor_5,61249.0,8.031626,3.622872,3.9100,3.9100,7.0500,10.5200,14.6200
sensor_6,61249.0,11.589457,5.444017,5.6700,5.7200,9.0300,15.4800,21.6100
sensor_7,61249.0,283.328633,146.880210,136.1700,142.9200,194.9600,394.2800,570.8100
sensor_8,61249.0,2228.686034,145.348243,1914.7200,2211.9500,2223.0700,2323.9300,2388.6400
sensor_9,61249.0,8524.673301,336.927547,7984.5100,8320.5900,8362.7600,8777.2500,9196.8100
sensor_10,61249.0,1.096445,0.127681,0.9300,1.0200,1.0300,1.2600,1.3200
sensor_11,61249.0,42.874529,3.243492,36.0400,41.7600,42.3300,45.2200,48.3600
sensor_12,61249.0,266.735665,138.479109,128.3100,134.5200,183.4500,371.4000,537.4900
sensor_13,61249.0,2334.427590,128.197859,2027.5700,2387.9100,2388.0600,2388.1700,2390.4900
sensor_14,61249.0,8067.811812,85.670543,7845.7800,8062.6300,8083.8100,8128.3500,8261.6500
sensor_15,61249.0,9.285604,0.750374,8.1757,8.6480,9.2556,9.3658,11.0663
sensor_16,61249.0,0.023252,0.004685,0.0200,0.0200,0.0200,0.0300,0.0300
sensor_17,61249.0,347.760029,27.808283,302.0000,330.0000,334.0000,368.0000,399.0000
sensor_18,61249.0,2228.613283,145.472491,1915.0000,2212.0000,2223.0000,2324.0000,2388.0000
sensor_19,61249.0,97.751396,5.369424,84.9300,100.0000,100.0000,100.0000,100.0000
sensor_20,61249.0,20.864333,9.936396,10.1600,10.9400,14.9300,28.5600,39.8900
sensor_21,61249.0,12.518995,5.962697,6.0843,6.5661,8.9601,17.1355,23.8852

In [6]:
data_1

,unit,cycle,altitude,mach,tra,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,...,129.78,2387.99,8074.83,9.3335,0.02,330,2212,100.00,10.62,6.3670
1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,...,312.59,2387.73,8046.13,9.1913,0.02,361,2324,100.00,24.37,14.6552
2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,1117.05,3.91,...,129.62,2387.97,8066.62,9.4007,0.02,329,2212,100.00,10.48,6.4213
3,1,4,42.0000,0.8400,100.0,445.00,548.70,1341.24,1118.03,3.91,...,129.80,2388.02,8076.05,9.3369,0.02,328,2212,100.00,10.54,6.4176
4,1,5,25.0063,0.6207,60.0,462.54,536.10,1255.23,1033.59,7.05,...,164.11,2028.08,7865.80,10.8366,0.02,305,1915,84.93,14.03,8.6754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61244,249,251,9.9998,0.2500,100.0,489.05,605.33,1516.36,1315.28,10.52,...,380.16,2388.73,8185.69,8.4541,0.03,372,2319,100.00,29.11,17.5234
61245,249,252,0.0028,0.0015,100.0,518.67,643.42,1598.92,1426.77,14.62,...,535.02,2388.46,8185.47,8.2221,0.03,396,2388,100.00,39.38,23.7151
61246,249,253,0.0029,0.0000,100.0,518.67,643.68,1607.72,1430.56,14.62,...,535.41,2388.48,8193.94,8.2525,0.03,395,2388,100.00,39.78,23.8270
61247,249,254,35.0046,0.8400,100.0,449.44,555.77,1381.29,1148.18,5.48,...,187.92,2388.83,8125.64,9.0515,0.02,337,2223,100.00,15.26,9.0774
61248,249,255,42.0030,0.8400,100.0,445.00,549.85,1369.75,1147.45,3.91,...,134.32,2388.66,8144.33,9.1207,0.02,333,2212,100.00,10.66,6.4341